<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <style>
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0; 
        }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Seabourn</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/magnific-popup.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/themify-icons.css">
    <link rel="stylesheet" href="../static/css/nice-select.css">
    <link rel="stylesheet" href="../static/css/flaticon.css">
    <link rel="stylesheet" href="../static/css/jquery-ui.css">
    <link rel="stylesheet" href="../static/css/gijgo.css">
    <link rel="stylesheet" href="../static/css/animate.css">
    <link rel="stylesheet" href="../static/css/slick.css">
    <link rel="stylesheet" href="../static/css/slicknav.css">

    <link rel="stylesheet" href="../static/css/styleexplore.css">
    <!-- <link rel="stylesheet" href="../static/css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    
    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="../static/img/logo.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a class="active" href="index.html">home</a></li>
                                            <li><a href="About.html">About</a></li>
                                            <li><a class="" href="Destination.html">Destination</a></l/li>
                                            <li><a href="#">Explore<i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                        <li><a href="Casino.html">Casino</a></li>
                                                        <li><a href="CruiseActivities.html">Cruise Activities</a></li>
							<li><a href="Entertainment.html">Entertainment</a></li>
                                                        <li><a href="Fitness.html">Fitness</a></li>
							<li><a href="Restaurants.html">Restaurants</a></li>
                                                        <li><a href="Spa.html">Spa</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="Login.html">Log in</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 d-none d-lg-block">
                                <div class="social_wrap d-flex align-items-center justify-content-end">
                                    <div class="number">
                                        <p> <i class="fa fa-phone"></i> +91 91138 46946</p>
                                    </div>
                                    <div class="social_links d-none d-xl-block">
                                        <ul>
                                            <li><a href="https://www.instagram.com/bestvacations/"> <i class="fa fa-instagram"></i> </a></li>
                                            <li><a href="https://www.facebook.com/BestVacationsIG/"> <i class="fa fa-facebook"></i> </a></li>
                                            <li><a href="https://twitter.com/bestvacations"> <i class="fa fa-twitter"></i> </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="seach_icon">
                                <a data-toggle="modal" data-target="#exampleModalCenter" href="#">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_27">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Destinations</h3>
                        <p>Experience different cultures of India, as we take you across the coastal cities.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->


    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="../static/img/banner/banner.png" alt="">
                                <a href="#" class="blog_item_date">
                                    <p>Day</p>
                                    <h3>01</h3>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="">
                                    <h2>Mumbai, Maharashtra</h2>
                                </a>
                                <p>Mumbai is the commercial capital of India. It is also known as the city that never sleeps. Mumbai is the perfect blend of culture, customs and lifestyles. Mumbai is India's most cosmopolitan city, its financial powerhouse and the nerve center of India's fashion industry.</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 12 Comments</a></li>
                                </ul>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="../static/img/banner/banner6.png" alt="">
                                <a href="#" class="blog_item_date">
                                    <p>Day</p>
                                    <h3>02</h3>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="">
                                    <h2>Mormugao, Goa</h2>
                                </a>
                                <p>Mormugao is a seaport situated in the eponymous taluka of the district of South Goa, Goa state, India. In 1917, thirty-one settlements were carved out of the Salcete region to form Mormugao taluka (sub-district) with Mormugao seaport as its headquarters.</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 05 Comments</a></li>
                                </ul>
                            </div>
                        </article>

			<article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="../static/img/banner/banner2.png" alt="">
                                <a href="#" class="blog_item_date">
                                    <p>Day</p>
				    <h3>03</h3>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="">
                                    <h2>Mangalore, Karnataka</h2>
                                </a>
                                <p>Mangalore, officially known as Mangaluru, is the major port city of the Indian state of Karnataka. It is located between the Arabian Sea and the Western Ghats mountain range about 352 km (219 mi) west of Bangalore, the state capital.
				</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 04 Comments</a></li>
                                </ul>
                            </div>
                        </article>

			<article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="../static/img/banner/banner5.png" alt="">
                                <a href="#" class="blog_item_date">
                                    <p>Day</p>
				    <h3>04</h3>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="">
                                    <h2>Cochin, Kerala</h2>
                                </a>
                                <p>Cochin is a major port city on the south-west coast of India bordering the Laccadive Sea a part of the Arabian Sea. It is part of the district of Ernakulam in the state of Kerala and is often referred to as Ernakulam. Kochi is the most densely populated city in Kerala.
				</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                </ul>
                            </div>
                        </article>

			<article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="../static/img/banner/banner4.png" alt="">
                                <a href="#" class="blog_item_date">
                                    <p>Day</p>
				    <h3>05</h3>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="">
                                    <h2>Tuticorin, Tamil Nadu</h2>
                                </a>
                                <p>Thoothukudi, also known by its former name Tuticorin, is a port city, a municipal corporation and an industrial city in Thoothukudi district in the Indian state of Tamil Nadu. The city lies in the Coromandel Coast of Bay of Bengal. Thoothukudi is the capital and headquarters of Thoothukudi district.
				</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 09 Comments</a></li>
                                </ul>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="../static/img/banner/banner3.png" alt="">
                                <a href="#" class="blog_item_date">
                                    <p>Day</p>
				    <h3>06</h3>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="">
                                    <h2>Chennai, Tamil Nadu</h2>
                                </a>
                                <p>Chennai, formerly Madras, city, capital of Tamil Nadu state, southern India, on the Coromandel Coast of the Bay of Bengal. Known as the “Gateway to South India,” Chennai is a major administrative and cultural centre.
				</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 10 Comments</a></li>
                                </ul>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="../static/img/banner/banner7.png" alt="">
                                <a href="#" class="blog_item_date">
                                    <p>Day</p>
				    <h3>07</h3>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="">
                                    <h2>Port Blair, Andaman Islands</h2>
                                </a>
                                <p>It is also the local administrative sub-division (tehsil) of the islands, the headquarters for the district of South Andaman, and is the territory's only notified town. Port Blair serves as the entry point for visiting the Andaman and Nicobar Islands. Port Blair is connected with mainland India by both air and sea.
				</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 06 Comments</a></li>
                                </ul>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="../static/img/banner/banner8.png" alt="">
                                <a href="#" class="blog_item_date">
                                    <p>Day</p>
				    <h3>08</h3>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="">
                                    <h2>Katchal, Nicobar Islands</h2>
                                </a>
                                <p>Katchal Island was previously known as Tihanyu. Due to the remote location and lack of exposure with the rest of the world, outsiders economically exploited the innocent islanders for a long time. The Government of India declared the Nicobar Islands an Aboriginal Tribal Reserve Area (ATRA) on 2 April 1957. This made the Nicobar Islands inaccessible to outsiders and currently even Indian nationals need a special tribal pass to visit the islands. 
				</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 04 Comments</a></li>
                                </ul>
                            </div>
                        </article>
                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                       
			<aside class="single_sidebar_widget search_widget">
                <form action="/display" method="POST">
                    <h4 class="widget_title">Enter Personal Details</h4>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" autocomplete="off" name="firstname" required placeholder="First Name">
                                        </div>
                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" autocomplete="off" name="lastname" placeholder="Last Name" required>
                                        </div>
                        <div class="input-group mb-3">
                                            <input type="number" class="form-control"  name="adults" placeholder="No. of Adults" required>
                                        </div>
                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" name="children" placeholder="No. of Children" required>
                                        </div>
                        <div class="input-group mb-3">
                                            <input class="form-control" type="date" autocomplete="off" name="dob" placeholder="Date of Birth" required>
                                        </div>
                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" name="phn1" id="phn1" placeholder="Phone number 1" required>
                                        </div>
                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" name="phn2" id="phn2" onchange="check()" placeholder="Phone number 2(Optional)">
                                        </div>
                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" autocomplete="off" name="address" placeholder="Address" required>
                                        </div>
                                    </div>
                                
                    <br><br>
                    <h4 class="widget_title">Enter Trip Details</h4>
                                
                                    <div class="form-group">
                        <div class="input-group mb-3">
                                            <select name="city" id="dest" onchange="myDestFunction()" class="form-control" style="width:165px" >
                                                <option disabled selected>Select a destination</option>
                                                <option value="Mumbai">Mumbai</option>
                                                <option value="Murmugao">Murmugao</option>
                                                <option value="Mangalore">Mangalore</option>
                                                <option value="Cochin">Cochin</option>
                                                <option value="Tuticorn">Tuticorn</option>
                                                <option value="Chennai">Chennai</option>
                                                <option value="PortBlair">Port Blair</option>
                                                <option value="Katchal">Katchal</option>
                                            </select>
                                        </div>
                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" name="dest_pin" id="dest_pin" readonly placeholder="Pincode">
                                        </div>
                        <div class="input-group mb-3">
                                            <input type="date" class="form-control" autocomplete="off" id="dod" name="dod" onchange="datefunc()" required placeholder="Date of Departure">
                                        </div>
                        <div class="input-group mb-3">
                                            <input class="form-control" type="date" autocomplete="off" id="doa" onchange="datemy()" required name="doa" placeholder="Date of Arrival">
                                        </div>
                                    </div>
            
                <br><br>
                    <h4 class="widget_title">Enter Room Details</h4>
                                
                                    <div class="form-group">
                        <div class="input-group mb-3">
                            <select name="roomtype" class="form-control" id="roomtype" style="width:165px" required>
                                <option disabled selected>Select the type of room</option>
                                <option value="Single">Single</option>
                                <option value="Double">Double</option>
                                <option value="Suite">Suite</option>
                                <option value="Business">Business</option>
                                <option value="Premium">Premium</option>
                            </select>
                                        </div>
                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" name="rooms" id="no of rooms" placeholder="No. of Rooms" required>
                                        </div>
                                    </div>
            
                <br><br>
                    <h4 class="widget_title">Enter Payment Details</h4>
                                
                                    <div class="form-group">
                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" id="amount" name="amount" placeholder="Amount (per day Rs.20,000)">
                                        </div>
                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" autocomplete="off" name="payment_mode" placeholder="Payment Mode (ex: cash, card)">
                                        </div>
                                    </div><br><br>
            
                                    <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                        type="submit" value="submit">Register</button>
                                </form>
                        </aside>

                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Our Customers Review</h3>
                            <div class="media post_item">
                                <img src="../static/img/post/post_1.png" alt="post">
                                <div class="media-body">
                                    <a href="#">
                                        <h3>Life Changing Experience...</h3>
                                    </a>
                                    <p>January 12, 2019</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="../static/img/post/post_2.png" alt="post">
                                <div class="media-body">
                                    <a href="#">
                                        <h3>A perfect vacation to go...</h3>
                                    </a>
                                    <p>October 14, 2019</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="../static/img/post/post_3.png" alt="post">
                                <div class="media-body">
                                    <a href="#">
                                        <h3>Get lost in the luxurious hub...</h3>
                                    </a>
                                    <p>12 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="../static/img/post/post_4.png" alt="post">
                                <div class="media-body">
                                    <a href="#">
                                        <h3>Wonderful family trip experience...</h3>
                                    </a>
                                    <p>10 Hours ago</p>
                                </div>
                            </div>
			    <div class="media post_item">
                                <img src="../static/img/post/post_5.png" alt="post">
                                <div class="media-body">
                                    <a href="#">
                                        <h3>Worth the price and comfort...</h3>
                                    </a>
                                    <p>08 Hours ago</p>
                                </div>
                            </div>
			    <div class="media post_item">
                                <img src="../static/img/post/post_6.png" alt="post">
                                <div class="media-body">
                                    <a href="#">
                                        <h3>The ultimate relaxation trip to be on...</h3>
                                    </a>
                                    <p>07 Hours ago</p>
                                </div>
                            </div>
			    <div class="media post_item">
                                <img src="../static/img/post/post_7.png" alt="post">
                                <div class="media-body">
                                    <a href="#">
                                        <h3>One of the best service ever received...</h3>
                                    </a>
                                    <p>04 Hours ago</p>
                                </div>
                            </div>
			    <div class="media post_item">
                                <img src="../static/img/post/post_8.png" alt="post">
                                <div class="media-body">
                                    <a href="#">
                                        <h3>Best experience ever, very delighted...</h3>
                                    </a>
                                    <p>01 Hours ago</p>
                                </div>
                            </div>
                        </aside>

                        <aside class="single_sidebar_widget instagram_feeds">
                            <h4 class="widget_title">Instagram Feeds</h4>
                            <ul class="instagram_row flex-wrap">
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="../static/img/instagram/1.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="../static/img/instagram/2.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="../static/img/instagram/3.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="../static/img/instagram/4.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="../static/img/instagram/5.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="../static/img/instagram/6.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->

    <!-- footer start -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4 ">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <img src="../static/img/footer_logo.png" alt="">
                                </a>
                            </div>
                            <p>5th Main, 700/D Bandra, Verli <br> Mumbai-867023 <br>
                                <a href="#">+91 91138 46946</a> <br>
                                <a href="#">visitus@seabourn.com</a>
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/BestVacationsIG/">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/bestvacations">
                                            <i class="ti-twitter-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/bestvacations/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Company
                            </h3>
                            <ul class="links">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="About.html">About</a></li>
                                <li><a href="Destination.html"> Destination</a></li>
                                <li><a href="Login.html"> Log in</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Popular destination
                            </h3>
                            <ul class="links double_links">
                                <li><a href="Destination.html">Mumbai</a></li>
                                <li><a href="Destination.html">Mormugao</a></li>
                                <li><a href="Destination.html">Mangalore</a></li>
                                <li><a href="Destination.html">Cochin</a></li>
                                <li><a href="Destination.html">Tuticorin</a></li>
                                <li><a href="Destination.html">Chennai</a></li>
                                <li><a href="Destination.html">Port Blair</a></li>
                                <li><a href="Destination.html">Katchal</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Instagram
                            </h3>
                            <div class="instagram_feed">
                                <div class="single_insta">
                                    <a href="#">
                                        <img src="../static/img/instagram/1.png" alt="">
                                    </a>
                                </div>
                                <div class="single_insta">
                                    <a href="#">
                                        <img src="../static/img/instagram/2.png" alt="">
                                    </a>
                                </div>
                                <div class="single_insta">
                                    <a href="#">
                                        <img src="../static/img/instagram/3.png" alt="">
                                    </a>
                                </div>
                                <div class="single_insta">
                                    <a href="#">
                                        <img src="../static/img/instagram/4.png" alt="">
                                    </a>
                                </div>
                                <div class="single_insta">
                                    <a href="#">
                                        <img src="../static/img/instagram/5.png" alt="">
                                    </a>
                                </div>
                                <div class="single_insta">
                                    <a href="#">
                                        <img src="../static/img/instagram/6.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This belongs to Seabourn</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
  <!-- Modal -->
  <div class="modal fade custom_search_pop" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="serch_form">
            <input type="text" placeholder="Search" >
            <button type="submit">search</button>
        </div>
      </div>
    </div>
  </div>
    <!-- link that opens popup -->
<!--     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js"></script>

    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"> </script> -->
    <!-- JS here -->
    <script src="../static/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="../static/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/isotope.pkgd.min.js"></script>
    <script src="../static/js/ajax-form.js"></script>
    <script src="../static/js/waypoints.min.js"></script>
    <script src="../static/js/jquery.counterup.min.js"></script>
    <script src="../static/js/imagesloaded.pkgd.min.js"></script>
    <script src="../static/js/scrollIt.js"></script>
    <script src="../static/js/jquery.scrollUp.min.js"></script>
    <script src="../static/js/wow.min.js"></script>
    <script src="../static/js/nice-select.min.js"></script>
    <script src="../static/js/jquery.slicknav.min.js"></script>
    <script src="../static/js/jquery.magnific-popup.min.js"></script>
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/gijgo.min.js"></script>
    <script src="../static/js/slick.min.js"></script>

    <!--contact js-->
    <script src="../static/js/contact.js"></script>
    <script src="../static/js/jquery.ajaxchimp.min.js"></script>
    <script src="../static/js/jquery.form.js"></script>
    <script src="../static/js/jquery.validate.min.js"></script>
    <script src="../static/js/mail-script.js"></script>

    <script>
        function datemy(){
                            datefunc();
                            myFunction();
                        }
                        function datefunc(){
                            var x = document.getElementById("dod");
                            var y = document.getElementById("doa");
                            var date1 = new Date(x.value);
                            var date2 = new Date(y.value);
                            if(+date1 > +date2)
                            {
                                x.value="";
                                y.value="";
                                alert("Please choose the dates properly.");
                            }
                        }
                        function myFunction() {
                          var x = document.getElementById("dod");
                          var y = document.getElementById("doa");
                          var z= document.getElementById("amount")
                          var date1 = new Date(x.value);
                          var date2 = new Date(y.value);
                          
                          var diffDays = parseInt((date2 - date1) / (1000 * 60 * 60 * 24), 10); 
                        z.value=diffDays * 20000
                        }
                        function check(){
                            var x = document.getElementById("phn1").value;
                            var y = document.getElementById("phn2").value;
                            if(x==y)
                            {
                                document.getElementById("phn2").value="";
                                alert("Secondary mobile number must be different from the primary.Please enter a different number");
                            }
                        }
                        function myDestFunction(){
                            var x = document.getElementById("dest").value;
                            var dest_list = ["Mumbai","Murmugao","Mangalore","Cochin","Tuticorn","Chennai","PortBlair","Katchal"];
                            var my_case = dest_list.indexOf(x);
                            switch (my_case) {
                                case 0:
                                    document.getElementById("dest_pin").value = 522101;
                                    break;
                                case 1:
                                    document.getElementById("dest_pin").value = 522102;
                                    break;
                                case 2:
                                    document.getElementById("dest_pin").value = 522103;
                                    break;
                                case 3:
                                    document.getElementById("dest_pin").value = 522104;
                                    break;
                                case 4:
                                    document.getElementById("dest_pin").value = 522105;
                                    break;
                                case 5:
                                    document.getElementById("dest_pin").value = 522106;
                                    break;
                                case 6:
                                    document.getElementById("dest_pin").value = 522107;
                                    break;
                                case 7:
                                    document.getElementById("dest_pin").value = 522108;
                                    break;
                            }
                        }
    </script>
    <script src="../static/js/main.js"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }
        });
    </script>
</body>

</html>